[submodule "BlowLive"]
	path = BlowLive
	url = git@github.com:anonymous-140325/BlowLive.git
[submodule "LivenessDetection"]
	path = LivenessDetection
	url = git@github-anon:anonymous-140325/LivenessDetection.git
